<a class="navbar-brand m-3" href="#"><img src="/assets/images/islamicWorldTrans.png" alt=""
  style="  width: 100px; height: 55px; "></a>
<nav class="navbar navbar-expand-sm  navbar-light px-2 row flex-container  p-4 mx-auto "
style="background-color: white; ">
<div class="text-center   ">
  <ul class="navbar-nav clear-fix ml-5">
    <div class="col-md-12 col-sm-12 ">
      <h5 class="mb-3"> قراءة وتحميل كتب دينية </h5>

      <br>
    </div>

  </ul>
</div>

</nav>

<div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 row-cols-xl-4 p-2 " style="margin-left: 60px; min-height: 90vh;"  >

  <div class=" col  mb-4 my-3" *ngFor="let item of data">
    <div class="card p-3"  >
      <h5 class="card-title text-right">{{item.title}}</h5>
      <h6 class="card-subtitle mb-2 text-muted text-right" *ngIf="item.prepared_by[0]!=undefined && item.prepared_by[0]!=[]">

        {{item.prepared_by[0].title}}</h6>
      <p class="card-text text-right">{{item.description}}</p> <br>
      <span>size : {{item.attachments[0].size}}</span> <br> <br>
      <a href="{{item.attachments[0].url}}" class=" btn btn-success card-link text-right"> تحميل  الكتب</a> <br>
      <a  (click)="window.open(item.attachments[0].url,'popup','width=600,height=600'); "  class=" btn btn-success card-link text-right">  افتح الكتاب</a>


        <!-- Button trigger modal -->


<!-- Modal -->




</div>

  </div>
<br>
<br>
<br>
</div>
<br>
<br> <br> <br>
