<div style="width: 100vh; height: 50px;">
<a class="navbar-brand m-3" href="#"><img src="/assets/images/islamicWorldTrans.png"alt="" style="  width: 100px; height: 50px; "></a>
</div>
<nav class="navbar navbar-expand-sm  navbar-light px-2 row flex-container  p-4 mx-auto " style="background-color: white; ">
  <!-- Brand/logo -->

  <!-- Links -->






  <div class="text-center   ">
    <br>
    <h4 class="ml-5 mt-2 pl-5 text-right text-center" >اوقات&nbsp;الصلاة</h4>

  <ul class="navbar-nav clear-fix ml-5">


   <div class="col-md-12 col-sm-12 mt-3 ">

    <div class="btn mb-0  m-1 px-3 bg-success text-light float-left  ">
      <div class="input-group-prepend">
        <span class=" btn input-group-text bg-success text-light ">اختر اليوم</span>
     </div>
     <input type="date" id="birthday" name="birthday"  [ngModel]="date | date:'yyyy-MM-dd'"
     (ngModelChange)="date = $event"     (change)="fillDate()">
   </div>
   <button class="btn mx-1  px-5 m-1 bg-success text-light text-right" (click)="fillDataWeek()" >
    هذا الاسبوع
  </button>

    <button class="btn mx-1 px-5 m-1  bg-success text-light text-right" (click)="fillData('today','tunis')" >
      اليوم
    </button>
    <button class="btn mx-1  px-5 m-1 bg-success text-light text-right" (click)="fillDataTomorrow()" >
      غدا
    </button> <br>


     <br>

  </div>




  </ul>
</div>

</nav>
<br> <br>

<div style="text-align: center; margin-left: 50px ; min-height: 100vh;">
  <table class="table table-striped table-light">
    <thead>
      <tr>
        <th scope="col">الصلات</th>
        <th scope="col">التوقيت</th>

      </tr>
    </thead>
    <tbody>
      <tr>

        <td>الفجر</td>
        <td>{{data[0].times.Imsak}}</td>
      </tr>
      <tr>

        <td>الامساك</td>
        <td>{{data[0].times.Imsak}}</td>
      </tr>
      <tr>
        <td>شروق الشمس</td>
        <td>{{data[0].times.Sunrise}}</td>
      </tr>
      <tr>
        <td>الظهر</td>
        <td>{{data[0].times.Dhuhr}}</td>
      </tr>
      <tr>
        <td>العصر</td>
        <td>{{data[0].times.Asr}}</td>
      </tr>
      <tr>
        <td>المغرب</td>
        <td>{{data[0].times.Maghrib}}</td>
      </tr>
      <tr>
        <td>العشاء        </td>
        <td>{{data[0].times.Isha}}</td>
      </tr>
      <tr>
        <td>قيام الليل</td>
        <td>{{data[0].times.Midnight}}</td>
      </tr>
    </tbody>
  </table>
  <button class="btn btn-success" (click)="logData()">نسخ الصفحة</button>


</div>







