<a class="navbar-brand m-3" href="#"><img src="/assets/images/islamicWorldTrans.png" alt=""
  style="  width: 100px; height: 55px; "></a>
<nav class="navbar navbar-expand-sm  navbar-light px-2 row flex-container  p-4 mx-auto "
style="background-color: white; ">
<div class="text-center   ">
  <ul class="navbar-nav clear-fix ml-5">
    <div class="col-md-12 col-sm-12 ">
      <h5 class="mb-3"> اذكار و ادعية</h5> <br>
      <button class="btn btn-dark mx-1" (click)="getAzkar()">الكل </button>
      <button class="btn btn-success m-1"  (click)="getAzkarByCategorie('http://www.hisnmuslim.com/api/ar/16.json')">  دعاء الاستفتاح</button>
      <button class="btn btn-success m-1"  (click)="getAzkarByCategorie('http://www.hisnmuslim.com/api/ar/18.json')">  دعاء الرفع من الركوع</button>

      <button class="btn btn-success m-1" (click)="getAzkarByCategorie('http://www.hisnmuslim.com/api/ar/28.json')"> أذكار النوم</button>

      <button class="btn btn-success m-1" (click)="getAzkarByCategorie('http://www.hisnmuslim.com/api/ar/6.json')">دعاء الخلاء</button>
      <button class="btn  mx-1" style="background-color: #18fdb1;" (click)="getAzkarByCategorie('http://www.hisnmuslim.com/api/ar/27.json')"> أذكار الصباح والمساء</button>

      <button class="btn btn-success m-1"  (click)="getAzkarByCategorie('http://www.hisnmuslim.com/api/ar/10.json')"> دعاء المنزل</button>
      <button class="btn btn-success m-1"  (click)="getAzkarByCategorie('http://www.hisnmuslim.com/api/ar/9.json')"> الوضوء </button>
      <button class="btn btn-success m-1"  (click)="getAzkarByCategorie('http://www.hisnmuslim.com/api/ar/19.json')">  دعاء السجود</button>
      <button class="btn btn-success m-1"  (click)="getAzkarByCategorie('http://www.hisnmuslim.com/api/ar/63.json')">  من أدعية الاستسقاء</button>
      <button class="btn btn-success m-1"  (click)="getAzkarByCategorie('http://www.hisnmuslim.com/api/ar/25.json')"> الأذكار بعد السلام من الصلاة</button>
      <button class="btn btn-success m-1"  (click)="getAzkarByCategorie('http://www.hisnmuslim.com/api/ar/55.json')"> الدعاء للميت في الصلاة عليه </button>
      <br>
    </div>

  </ul>
</div>

</nav>
















<div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 row-cols-xl-4 p-2" style="margin-left: 60px; min-height: 100vh;" >




<div class="col  mb-4 my-3" *ngFor="let item of data" style="text-align: right;">
  <div class="card mb-4 my-3 p-3">
    <h4 class="card-title text-right">{{ item.TITLE || item.ARABIC_TEXT }} </h4>
    <h6 class="card-subtitle text-muted text-right">{{item.CATEGORY}}</h6>
    <p class="card-text p-y-1"></p>

    <a href="#" class="card-link"></a> <br>
    <audio controls preload="none" class="mx-auto mt-3 p-1 text-right" style="width: 99%; background-color: #157347; ">
      <source [src]="item.AUDIO_URL || item.AUDIO " type="audio/ogg">
      <source [src]="item.AUDIO_URL || item.AUDIO " type="audio/mpeg">
      No audio support.
      </audio>
  </div>
</div>

</div>
