
<div id="sidebar">
  <a  routerLinkActive=active routerLink="" ><img src="assets/images/home.png" alt="" style="width: 60px ; height: 60px; margin: 5px;"> </a>
  <a  routerLinkActive=active routerLink="prayertimes" ><img src="assets/images/prayerTime.png" alt="" style="width: 60px ; height: 60px; margin: 5px;"> </a>
  <a routerLinkActive=active routerLink="qiblah" ><img src="assets/images/qiblah.png" alt="" style="width: 73px ; height: 73px; margin: -2px;"> </a>
  <a  routerLinkActive=active routerLink="books" ><img src="assets/images/books.png" alt="" style="width: 65px ; height: 65px; margin: 2px;"> </a>
  <a  routerLinkActive=active routerLink="azkar" ><img src="assets/images/azkar.png" alt="" style="width: 60px ; height: 60px; margin: 5px;"> </a>
  <a  routerLinkActive=active routerLink="quran" ><img src="assets/images/quran1.svg" alt="" style="width: 65px ; height: 50px; margin:7px 2px; "> </a>
  <a  routerLinkActive=active routerLink="about" ><img src="assets/images/about.png" alt="" style="width: 75px ; height: 70px; margin:7px -3px; "> </a>

</div>
