<nav class="navbar navbar-expand-sm  navbar-light px-5 clearfix" style="background-color: white; width: 100vw;">
  <!-- Brand/logo -->

  <!-- Links -->
  <div class="text-center mx-auto">
  <ul class="navbar-nav">



    <button class="btn mx-1 px-5  bg-success text-light"  >
      اليوم
    </button>

   <h3 class="mx-4 ">اتجاه القبلة</h3>


    <li class="nav-item mx-1" >
      <ng-content select=".link2"></ng-content>
    </li>
  <!--  <li class="nav-item dropdown mx-3">
      <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
        Our news
      </a>
      <div class="dropdown-menu"  routerLinkActive=active>
        <a class="dropdown-item" routerLink='news' > href="#">Topics 1</a>
        <a class="dropdown-item" href="#">Topics 2</a>
        <a class="dropdown-item" href="#">Topics 3</a>
      </div>
    </li> -->

  </ul>
</div>
  <ul class=" navbar-nav nav-right" >
    <div class="btn-group">
      <i class="fa fa-search mx-5 my-3" aria-hidden="true"></i>

        <a class="navbar-brand" href="#"><img src="/assets/images/islamicWorldTrans.png"alt="" style=" margin-right:40px; width: 100px; height: 55px;"></a>



    </div>
  </ul>
</nav>
<div class="mx-5 " style="overflow: hidden;">
  <iframe  src="https://qiblafinder.withgoogle.com/intl/fr/desktop/finder" style=" transform: translate(0,-10%); margin:0px 100px;width: 77vw; height: 87vh;" title="W3Schools Free Online Web Tutorials">
  </iframe>
</div>
