


<a class="navbar-brand m-3" href="#"><img src="/assets/images/islamicWorldTrans.png" alt=""
  style="  width: 100px; height: 55px; "></a>
<nav class="navbar navbar-expand-sm  navbar-light px-2 row flex-container  p-4 mx-auto "
style="background-color: white; ">
<div class="text-center   ">
  <ul class="navbar-nav clear-fix ml-5">
    <div class="col-md-12 col-sm-12 ">
      <h5 class="mb-3"> اتجاه القبلة</h5>

      <br>
    </div>

  </ul>
</div>
</nav>
<div class="mx-2 " style="overflow: hidden;">
  <iframe id="qibla" src="https://qiblafinder.withgoogle.com/intl/fr/desktop/finder" style=" transform: translate(0,-10%); margin:0px 100px;width: 85vw; height: 90vh;" title="W3Schools Free Online Web Tutorials">
  </iframe>
</div>
