<a class="navbar-brand m-3" href="#"><img src="/assets/images/islamicWorldTrans.png" alt=""
    style="  width: 100px; height: 55px; "></a>
<nav class="navbar navbar-expand-sm  navbar-light px-2 row flex-container  p-4 mx-auto "
  style="background-color: white; ">
  <div class="text-center   ">
    <ul class="navbar-nav clear-fix ml-5">
      <div class="col-md-12 col-sm-12 ">
        <h5 class="mb-3"> قراءة وتحميل القران الكريم </h5>
        <input class="form-control" type="text" name="search" id="" [(ngModel)]="search"
          placeholder="&#61442;  ابحث عن السوره">
        <br>
      </div>

    </ul>
  </div>

</nav>





<div style="margin:auto; margin-bottom: 300px; margin-left: 80px;"
  class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 row-cols-xl-4 p-2 ">



  <div class=" col mb-4" *ngFor="let item of data   | filter: search ; index as i" style="text-align: right;">
    <div class="card p-3">
      <h4 class="card-title">{{ item.name.long || item.name.short }} </h4>
      <p class="card-text p-y-1"> مكان نزول الوحي : {{ item.revelation.arab }} </p>
      <h6 class="card-subtitle text-muted text-left pb-3">{{item.name.transliteration.en}}</h6>




      <ng-container *ngIf="(i+1)<10; then thenTemplate1; else elseTemplate1"></ng-container>
      <ng-template #thenTemplate1>
        <a class="btn btn-success m-2"
          href="https://download.quranicaudio.com/quran/abdul_basit_murattal/00{{i+1}}.mp3"> MP3 تحميل</a>
      </ng-template>
      <ng-template #elseTemplate1>
        <ng-container *ngIf="(i+1)<100; else other1">
          <a class="btn btn-success m-2"
            href="https://download.quranicaudio.com/quran/abdul_basit_murattal/0{{i+1}}.mp3"> MP3 تحميل</a>
        </ng-container>
        <ng-template #other1>
          <a class="btn btn-success m-2"
            href="https://download.quranicaudio.com/quran/abdul_basit_murattal/{{i+1}}.mp3"> MP3 تحميل</a>
        </ng-template>

      </ng-template>

      <a class="btn btn-success m-2" href="https://suratmp3.com/pics/pdf-v3/{{i+1}}.pdf"> PDF تحميل</a>
      <br>
      <audio controls preload="none" class="mx-auto mt-3 m-2 p-1" style="width: 99%; background-color: #157347; ">
        <source [src]=" " type="audio/ogg">
        <ng-container *ngIf="(i+1)<10; then thenTemplate; else elseTemplate"></ng-container>
        <ng-template #thenTemplate>
          <source src="https://download.quranicaudio.com/quran/abdul_basit_murattal/00{{i+1}}.mp3" type="audio/mpeg">
        </ng-template>
        <ng-template #elseTemplate>
          <ng-container *ngIf="(i+1)<100; else other">
            <source src="https://download.quranicaudio.com/quran/abdul_basit_murattal/0{{i+1}}.mp3" type="audio/mpeg">
          </ng-container>
          <ng-template #other>
            <source src="https://download.quranicaudio.com/quran/abdul_basit_murattal/{{i+1}}.mp3" type="audio/mpeg">
          </ng-template>

        </ng-template>


        No audio support.
      </audio>
    </div>
  </div>

</div>
